{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-3" align="center">Bienvenu sur mon site <br> M@ Musique</h1>

  <div class="row mt-3">
    <div class="col"><a class="btn btn-primary btn-lg btn-block" href="{{path('app_register')}}" role="button">S'enregistrer</a></div>
    <div class="col"><a class="btn btn-primary btn-lg btn-block" href="{{path('app_login')}}" role="button">Se connecter</a></div>
  </div>

  <p class="lead mt-5">Découvrez l'univers envoûtant de la musique à travers les yeux et les oreilles d'un passionné. M@ Musique est votre destination incontournable pour explorer une symphonie d'harmonies, des rythmes captivants et des mélodies qui touchent l'âme.<br><br>

Que vous soyez un mélomane averti ou simplement curieux de découvrir de nouveaux sons, notre site est conçu pour vous. Plongez dans une variété de genres musicaux, des classiques intemporels aux dernières tendances. Explorez des articles informatifs, des critiques d'albums, des entrevues exclusives avec des artistes talentueux, et bien plus encore.<br><br>

Laissez-vous emporter par la magie de la musique et partagez cette aventure avec nous. M@ Musique est une communauté où la passion pour l'art sonore se trouve au cœur de tout ce que nous faisons. Venez, explorez, partagez et laissez la musique vous emporter.<br><br>

Rejoignez-nous dans ce voyage musical exaltant, et laissez les notes vous guider à travers un monde de sensations auditives inoubliables.<br><br>

Bienvenue sur M@ Musique, où la musique prend vie.</p>
  <hr class="my-4">

</div>

{% endblock %}
